
.name{color: green;
}

.email{color: #219BC6;
    text-decoration: none;
    
}

.comment {
    border-style: solid;
    margin: 5px;
    padding: 5px;
    border-width: 1px;
}

.email:hover{
    text-decoration: underline;
}

.date{
    font-style: italic;
}


span.comment_declaration{
    font-size: 12px;
}

div.body{
    margin-top: 15px;
}

div.date{
    text-align: right;
    font-size: 12px;
}